<div class="container extend-height" >
  <h1>Order created successfully!</h1>

  <p><%= @order.quantity %> unit(s)</p>
  <p>on <%= @order.date %></p>
  <p> $<%= @order.product.price %></p>
  <h2> Your product will arrive soon!</h2>
</div>
