<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://res.cloudinary.com/dsoletyk5/image/upload/v1722912793/destaque_chocolates_novos_zona_sul_guerin_y88cal.jpg);">
  <div class="container">
    <h1>Choco Shop brings <strong>handmade chocolates</strong> to <strong>your house</strong>!</h1>
    <p>Discover new tastes and boost local economy.</p>
    <a class="btn btn-flat" href="#">Shop now</a>
  </div>
</div>
<div class="container">
  <h1>Chocolates</h1>
  <p>Check all of our options:</p>
  <div>
    <ul>
      <% @products.each do |product| %>
        <li><%= product.name%></li>
        <li><%= product.description%></li>
        <li><%= product.price%></li>
      <% end %>
    </ul>

  </div>
  <%= link_to "chocolates", products_path %>
</div>
