.banner {
  background-size: cover;
  background-position: center;
  padding: 0;
  background-attachment: fixed;
  height: 50vh;
  width: 100%;
  display: flex;
  align-items: left;
  justify-content: left;
  text-align: left;
  color: white;

}

.banner-slide {
  height: 50vh;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.banner h1 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 24px;
}

.banner p {
  font-size: 16px;
  color: white;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}
