.card_products {
  background: #ffffff;
  width: 15%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 20px;
  margin: 5px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  position: relative;
  overflow: hidden;
  align-items: center; /* test */
  justify-content: space-between; /* test */
}

.img_card_container {
  width: 100%;
  text-align: center;
  margin-bottom: 15px;
  justify-content: center; /* test */
}

.img_card {
  width: 100%;
  height: auto;
  display: inline-block;
  border-radius: 8px;
  transition: box-shadow 0.3s ease, transform 0.3s ease;
  max-height: 150px; /* test */
  object-fit: cover;
}

.img_card:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  transform: scale(1.1);
}

.product_details {
  width: 100%;
  margin-left: 11px;
  margin-top: auto; /* test */
}

.content_link{
  text-decoration: none;
}

.product_name {
  font-size: 1.2em;
  overflow: hidden;
  color: #402722;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  transition: color 0.3s ease, text-decoration 0.3s ease;
  text-align: left; /* test */
  text-overflow: ellipsis; /* test */
  white-space: nowrap; /* test */
}

.product_name a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

.product_name a:hover {
  color: #A66B56;
  text-decoration: underline;
}

.product_price {
  color: #402722;
}

.product_description {
  color: #402722;
  margin-bottom: 10px;
  overflow: hidden; /* test */
  max-width: 30ch; /* test */
  text-overflow: ellipsis; /* test */
  white-space: nowrap; /* test */
}

.ul_card {
  height: auto;
  flex-wrap: wrap;
  padding: 10px;
  justify-content: center;
}

.add_product_button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  border: #ffe4d1;
  padding: 10px 15px;
  background-color: #472208;
  color: #ffe4d1;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  z-index: 1000;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.add_product_button:hover {
  background-color: #8b4513;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.4);
}
.extend-height{
  background: none;
  height: 78vh;
  background-color: #ffffff;
  border-radius: 8px;
  padding: 20px;
  margin: 20px auto;
}

/* Mobile Adaptation */
@media (max-width: 768px) {
  .card_products {
    width: 90%;
    max-width: 100%;
    margin: 10px auto;
    flex-direction: column;
  }

  .img_card_container {
    width: 100%;
  }

  .img_card {
    max-width: 100%;
    height: auto;
  }

  .product_details {
/*     text-align: center; */
  }

  .d-flex {
    flex-direction: column;
    align-items: center;
  }
}
