
.login {
  background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://res.cloudinary.com/dsoletyk5/image/upload/v1722912793/destaque_chocolates_novos_zona_sul_guerin_y88cal.jpg);
  width: 100%;
  padding-top: 20px;
  height: calc(100vh-98px);
  display: flex;
  justify-content: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.content{
  color: white;
  width: 35%;
  display: flex;
  flex-direction: column;
}

.devise_title{
  color: #fffdfb;
  margin: 0;
}

.signin {
  width: 100%;
}

.signup-btn {
  margin-top: 20px;
  width: 100%;
}
