.signup{
  width: 100%;
  padding-top: 20px;
  height: calc(100vh-98px);
  display: flex;
  justify-content: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.content{
  color: white;
  width: 35%;
  display: flex;
  flex-direction: column;
}

.devise_title{
  color: #fffdfb;
  margin: 0;
}
